@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: roboto, sans-serif;
    --col0: #223342;
    --col1: #15202b;
    --col2: #021750;
    --col3: #aaaaaa;
    --col4: #381d32;
    --col5: #70a9cc;
    --col6: #3a536b;
    --col_nav : #1DA1F2;
    --col_nav_hover : #187cb9;
    --white_row: #8ab4c5;
    --dark_row: #708da3;
    --input_color: rgb(37, 37, 37);
}


* {
    text-align: center;
    font-family: robotica, sans-serif;
    margin: 0px;
    padding: 0px;
}

label {
    color: white;
    font-size: 1em;
}

.field_area {
    margin-bottom: 15px;
}

.pattern_form {
    width: 90%;
    height: 40px;
    background-color: var(--col3);
    border-width: 0px;
    border-radius: 30px 30px 30px 30px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    color: white;
}

#login_but {
    transition: background-color 1.0s;
    transition: width 1.0s;
    background-color: var(--col_nav);
    text-align: center;
}

#login_but:hover {
    background-color: var(--col_nav_hover);
    width: 100%;
}

#login_but:active {
    background-color: #168bff;
    color: white;
}

form {
    max-width: 500px;
    min-width: 400px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#google_but {
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('https://static.vecteezy.com/system/resources/previews/038/600/575/original/google-logo-icon-set-the-google-icon-searching-icons-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

div.search_movie {
    width: 100%;
    background-color: var(--col6);
    padding: 20px;
}

.search_but {
    background-image: url('https://www.pngkey.com/png/full/87-872187_lupa-search-icon-white-png.png');
    width: 60px;
    height: 50px;
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    transition: width 1.0s;
    background-color: var(--col_nav);
}

.input_box_style {
    background-color: var(--input_color);
    border-radius: 10px 10px 10px 10px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.search_but:hover {
    width: 70px;
}

.search_input {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

.add_but {
    width: 40px;
    height: 40px;
    background-image: url("add_but");
    background-color: rgb(64, 255, 144);
    border-radius: 50%;
    transition: background-color 0.5s;
}

.add_but:hover {
    background-color: rgb(133, 255, 184);
}

.comment_txt_area {
    width: 95%;
    resize: none;
}

.send_comment {
    background-color: var(--col_nav);
    width: 80px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-color: var(--col2);
    border-style: solid;
}

.send_comment:hover {
    background-color: var(--col_nav_hover);
}