@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+JP:wght@100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: roboto, sans-serif;
    --col0: #223342;
    --col1: #15202b;
    --col2: #021750;
    --col3: #aaaaaa;
    --col4: #381d32;
    --col5: #70a9cc;
    --col6: #3a536b;
    --col_nav : #1DA1F2;
    --col_nav_hover : #187cb9;
    --white_row: #bfbfbf;
    --dark_row: #8899a6;
    --input_color: rgb(37, 37, 37);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font);
    color: white;
}

body {
    background-repeat: no-repeat;
    background-color: var(--col1);
    height: 100vw;
}

header {
    padding: 10px;
    height: 200px;
    background-image: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0)), url('https://wallpapercave.com/wp/wp10615910.jpg');
    background-position: center;
    background-size: cover;
}

main#pre_home {
    background-image: linear-gradient(135deg, var(--col2), var(--col4));
    padding: 10px;
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

main#pos_home {
    background-color: var(--col0);
    padding: 30px;
    width: 1800px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.567);
}

.nav_butt {
    background-color: var(--col_nav);
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    border-width: 0px;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    width: 130px;
    transition: background-color 1.0s;
    color: white;
}

.nav_butt:hover {
    background-color: var(--col_nav_hover);
}

p#label_for_nav {
    text-align: left;
    font-size: 0.8em;
}

h1#main_title {
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0px 0px 5px white;
}

table {
    width: 100%;
}

table td {
    width: 33%;
}

#left_content {
    padding-left: 20px;
    padding-top: 30px;
}

.info_area {
    background-color: var(--col6);
    padding: 10px;
}

.info_area > p {
    text-align: left;
}

#about_the_movie {
    margin: auto;
    width: 90%;
}

#description {
    margin: auto;
    width: 90%;
    margin-top: 20px;
}

#img_movie {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
}

.comment_section {
    margin: auto;
    height: 100%;
    width: 90%;
    background-color: var(--col1);
    padding: 10px;
}

td.movie_info {
    width: 40%;
    height: 550px;
}

td.movie_photo {
    width: 20%;
    height: 550px;
}

td.movie_comments {
    width: 40%;
    height: 550px;
}

#add_but {
    background-image: url("https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/add-43.png");
    width: 30px;
    height: 30px;
    background-color: rgb(150, 255, 150);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.5s;
}

#add_but:hover {
    background-color: rgb(66, 173, 66);
}

div.stats_movie {
    width: 96%;
    height: 100%;
    background-color: var(--col6);
    padding: 20px;
    margin: auto;
}

div.table_cont {
    margin-top: 20px;
    width: 100%;
    background-color: var(--col6);
    padding: 20px;
}

thead#table_head {
    background-color: var(--dark_row);
}

tbody#full_data tr:nth-child(even) {
    background-color: var(--dark_row);
}

tbody#full_data tr:nth-child(odd) {
    background-color: var(--white_row);
}

tbody#full_data tr:nth-child(odd) > td {
    color: black;
}

caption#top_of_table {
    caption-side: top;
    background-color: var(--dark_row);
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

tfoot#bottom_of_table {
    caption-side: top;
    background-color: var(--dark_row);
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

table#movies_table {
    border-collapse: collapse;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
}

div.edit_border {
    border-color: var(--col_nav_hover);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
}

a.add_link_but {
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(198, 255, 161);
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    color: black;
}

a.add_link_but:hover {
    background-color: rgb(102, 255, 0);
}

a.del_link_but {
    text-decoration: none;
    color: white;
    background-color: rgb(211, 100, 100);
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

a.del_link_but:hover {
    text-decoration: none;
    background-color: rgb(255, 44, 44);
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
}

tbody#full_data td {
    height: 40px;
}

div#comments_placement {
    height: 360px;;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.single_comment {
    margin: auto;
    width: 550px;
    /*border-color: white;
    border-width: 2px;
    border-style: solid;*/
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    margin-top: 10px;
}

div.single_comment td {
    text-align: left;
    margin: 0px;
}

div.single_comment p {
    margin: 0px;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

div.votes {
    border-radius: 0px 0px 10px 10px;
    width: 90px;
    margin-left: 40px;
    padding: 2px;
}

div.votes div {
    width: 30px;
    height: 30px;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

div.up_vote {
    background-image: url('../static/images/thumb-up.png');
    transition: background-color 0.5s;
}

div.down_vote {
    background-image: url('../static/images/thumb-down.png');
    transition: background-color 0.5s;
}

div.up_vote:hover {
    background-color: var(--col3);
}

div.down_vote:hover {
    background-color: var(--col3);
}

a.link_to_vote {
    text-decoration: none;
    color: var(--col_nav);
}

.clicked {
    background-color: rgba(255, 255, 255, 0.404);
}