<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href = '../static/style.css' rel = 'stylesheet'>
    <link href = '../static/form_style.css' rel = 'stylesheet'>
</head>
<body>
    <header>
        <table>
            <tbody>
                <tr>
                    <td id = 'left_content'>
                        {% block header %}
                        {% endblock %}
                    </td>
                    <td style = 'padding-top: 30px;'>
                        <h1 id = 'main_title'>MOVIES DB</h1>
                    </td>
                    <td style = 'color: white; text-align: left; padding-left: 50px;'>
                        {% block user_info %}
                        {% endblock %}
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
    {% if session['pre_home'] %}
    <main id = 'pre_home'>
    {% else %}
    <main id = 'pos_home'>
    {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>