{% extends 'basis.html' %}
{% block title %}
    Movies DB - Your movies
{% endblock %}
{% block header %}
    <p id = 'label_for_nav'>Want to logout?<br>Then click at the Logout button</p>
    <a href = '{{ url_for("logout") }}' target = '_self' class = 'nav_butt'>Logout</a>
{% endblock %}
{% block content %}
    <div class = 'search_movie'>
        <pre style = 'font-family: roboto, sans-serif; font-size: 1.2em; padding: 0px; margin: 0px;'>Write the title of a movie that you know</pre>
        <form method = 'POST'>
        {{ form.hidden_tag() }}
        {{ form.title(class = 'search_input') }}{{ form.submit(class = 'search_but') }}
        </form>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style = 'background-color: rgb(162, 255, 209); color: black; border-radius: 10px 10px 10px 10px; border-color: green;'>
            <strong style = 'font-size: 1.2em'>&#127812; Good to know: </strong> You can write the title of the movie the way you want, so you don't need to be precise about it because the API will do the best to find it to you.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% for err in form.title.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong style = 'font-size: 1.2em'>Attention: </strong> {{ err }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% if searched_movie == 'None' %}
            You didn't select a movie yet!
        {% else %}
            <div class = 'info_area'>
                <table style = 'margin-bottom: 10px;'>
                    <tr>
                        <td style = 'width: 50%'>
                            You can add this movie
                        </td>
                        <td style = 'width: 8%'>
                            <a href = "{{ url_for('add_movie') }}">
                                <div id = 'add_but'>
                                </div>
                            </a>
                        </td style = 'width: 42%'>
                        <td>
                        </td>
                    </tr>
                </table>
                <p><strong>imdb Id</strong>: {{ searched_movie['imdbID'] }}</p>
                <p><strong>Title</strong> : {{ searched_movie['Title'] }}</p>
                <p><strong>Release date</strong>: {{ searched_movie['Released'] }}</p>
                <p><strong>Time</strong>: {{ searched_movie['Runtime'] }} minutes</p>
                <p><strong>Genre</strong>: {{ searched_movie['Genre'] }}</p>
                <p><strong>Director</strong> : {{ searched_movie['Director'] }}</p>
                <p><strong>Writer</strong>: {{ searched_movie['Writer'] }}</p>
                <p><strong>Actors</strong> : {{ searched_movie['Actors'] }}</p>
                <p><strong>Description</strong> : {{ searched_movie['Description'] }}</p>
                <p><strong>imdbRating</strong> : {{ searched_movie['imdbRating'] }}</p>
                <p><strong>Type</strong> : {{ searched_movie['Type'] }}</p>
            </div>
            Click <a href = "{{ url_for('movie', title = searched_movie['Title']) }}" target = '_blank'>here</a> to go to the page of {{ searched_movie['Title'] }}
        {% endif %}
    </div>
{% endblock %}
{% block user_info %}
Username: {{ information['username'] }}
<br>
Email: {{ information['email'] }}
<br>
Phone number: {{ information['phone'] }}
{% endblock %}