{% extends 'basis.html' %}
{% block title %}
    {{ complete_data['Title'] }}
{% endblock %}
{% block header %}
    <p id = 'label_for_nav'><br>You can return to the home page</p>
    <a href = "{{ url_for('home', user_name = username) }}" target = '_self' class = 'nav_butt'>Return</a>
{% endblock %}
{% block content %}
{% for err in form.comment.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style = 'background-color: rgb(255, 158, 158); border-color: red;'>
        <strong style = 'font-size: 1.2em; color: black;'>&#x274C; Sorry: </strong> {{ err }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% if user_has_movie %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style = 'font-size: 1.2em; color: black;'>&#128226; IMPORTANT: </strong> You already have this movie on your list. You can remove it by clicking at the button
        <a href = '{{ url_for("del_movie", movie_imdb = imdb ) }}' class = 'del_link_but'>DELETE</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong style = 'font-size: 1.2em; color: black;'>&#128226; IMPORTANT: </strong> You don't have this movie on your list yet. You can add it by clicking at the button
        <a href = "{{ url_for('add_movie') }}" class = 'add_link_but'>
           + ADD
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<table>
    <tr>
        <td class = 'movie_info'>
            <div class = 'info_area edit_border' id = 'about_the_movie'>
                <p><strong>imdb Id</strong>: {{ complete_data['imdbID'] }}</p>
                <p><strong>Title</strong> : {{ complete_data['Title'] }}</p>
                <p><strong>Type</strong> : {{ complete_data['Type'] }}</p>
                
                {% if complete_data['imdbRating'] < 2.0 %}
                    <p><strong>imdbRating</strong> : {{ complete_data['imdbRating'] }} (Terrible) &#129326;</p>
                {% elif complete_data['imdbRating'] >= 2.0 and complete_data['imdbRating'] < 4.0%}
                    <p><strong>imdbRating</strong> : {{ complete_data['imdbRating'] }} (Bad) &#129314;</p>
                {% elif complete_data['imdbRating'] >= 4.0 and complete_data['imdbRating'] < 6.0 %}
                    <p><strong>imdbRating</strong> : {{ complete_data['imdbRating'] }} (Not bad) &#129320;</p>
                {% elif complete_data['imdbRating'] >= 6.0 and complete_data['imdbRating'] < 8.0 %}
                    <p><strong>imdbRating</strong> : {{ complete_data['imdbRating'] }} (Good) &#128522;</p>
                {% else %}
                    <p><strong>imdbRating</strong> : {{ complete_data['imdbRating'] }} (Outstanding) &#128512;</p>
                {% endif %}

                <p><strong>Release date</strong>: {{ complete_data['Released'] }}</p>
                <p><strong>Time</strong>: {{ complete_data['Runtime'] }} minutes</p>
                <p><strong>Genre</strong>: {{ complete_data['Genre'] }}</p>
            </div>
            <div class = 'info_area edit_border' id = 'description'>
                <p><strong>Description</strong> : {{ complete_data['Description'] }}</p>
                <p><strong>Director</strong> : {{ complete_data['Director'] }}</p>
                <p><strong>Writer</strong>: {{ complete_data['Writer'] }}</p>
                <p><strong>Actors</strong> : {{ complete_data['Actors'] }}</p>
            </div>
        </td>
        <td class = 'movie_photo'>
            <div id = "img_movie" style = "background-image : url('{{ img }}');">
            </div>
        </td>
        <td class = 'movie_comments'>
            <div class = 'comment_section edit_border'>
                <h2 style = 'font-size: 1em;'>
                    You can comment your thoughts about this movie over here
                </h2>
                <div id = 'comments_placement'>
                    {% for comment in comments %}
                        <div class = 'single_comment'>
                            <table>
                                <tr>
                                    <td style = 'font-weight: bold;'>@{{comment['username']}}</td><td style = 'font-size: 0.8em; color: rgb(173, 173, 173);'>Created at {{comment['date']}}</td>
                                </tr>
                            </table>
                            <p style = 'text-indent: 15px;'>{{comment['text']}}</p>
                            <br>
                            <p style = 'font-size: 0.8em; color: rgb(173, 173, 173);'>Email: {{comment['email']}}</p>
                        </div>
                        <div class = 'votes'>
                            <table>
                                <tr>
                                    <td>
                                        <a href = '#'>
                                            <div class = 'up_vote'>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <a href = '#'>
                                            <div class = 'down_vote'>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <form method = 'POST'>
                        {{ form.hidden_tag() }}
                        {{ form.comment.label }}
                        <br>
                        {{ form.comment(class = 'comment_txt_area') }}
                        <br>
                        {{ form.submit(class = 'send_comment')}}
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>          
{% endblock %}
{% block user_info %}
    Username: {{ information['username'] }}
    <br>
    Email: {{ information['email'] }}
    <br>
    Phone number: {{ information['phone'] }}
{% endblock %}